@model IPagedList<Track>
@{
    ViewData["Title"] = "Feed";
}
@using X.PagedList;
@using X.PagedList.Mvc.Core;
<main id="feedMain">
    <div style="display:flex; justify-content:flex-start; align-items:flex-start;" class="box">
        <div class="topText">
            <h3>Your Feed</h3>
            <a asp-action="Index" asp-controller="Track"><p>See all</p></a>
        </div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
        {
            <h3 style="text-align:center; width:100%; color:white; font-family: sans-serif; font-size:26px; font-weight:600; height:50vh">
                Nothing Here ...
                <img style="transform:translateY(8px); height:36px;" src="/assets/images/icons/search.svg">
            </h3>
        }
        <div style="display:flex; justify-content:flex-start; align-items:flex-start;" class="posts">
            @if (Model != null && Model.Count > 0)
            {
                @foreach (Track track in Model)
                {
                    <!--Single Post Start-->
                    <div class="singlePost">
                        <div class="top">
                            <a  asp-action="Detail" asp-controller="Artist" asp-route-Id="@track.UserId">
                                <img class="pfp" src="~/assets/images/pfp/@track.User.ProfilePicture" alt="" />
                            </a>
                            <a style="text-decoration:none;" asp-action="Detail" asp-controller="Artist" asp-route-Id="@track.UserId">
                                <div class="artistName">@track.User.DisplayName</div>
                            </a>
                            <div class="releaseDate">• - @track.CreatedAt.ToString("MMMM dd, yyyy")</div>
                        </div>
                        <div class="bottom">
                            <a asp-action="Detail" asp-controller="Track" asp-route-Id="@track.Id">
                                <img class="cover"
                                     src="~/assets/images/@(track.User.ProfilePicture == track.Cover ? $"pfp/{track.Cover}": $"covers/{track.Cover}")"
                                     alt="" />
                            </a>
                            <div class="right">
                                <div class="title">
                                    <img name="@track.Title"
                                         artist="@track.User.DisplayName"
                                         track="/assets/audio/tagged/@track.Tagged"
                                         cover="/assets/images/@(track.User.ProfilePicture == track.Cover ? $"pfp/{track.Cover}": $"covers/{track.Cover}")"
                                         class="trackBtn play trackPlayBtn"
                                         src="~/assets/images/icons/play.svg"
                                         alt=""
                                         trackId="@track.Id" />
                                    <img class="pause"
                                         src="~/assets/images/icons/pause.svg"
                                         alt="" />
                                    <a style="text-decoration:none;" asp-action="Detail" asp-controller="Track" asp-route-Id="@track.Id">
                                        <h3  class="theTitle">@track.Title</h3>
                                    </a>
                                </div>
                                <div class="about">@track.Description</div>
                                <a class="addToBasket">
                                    <img class="btnImg"
                                         src="~/assets/images/icons/shopping-cart.svg"
                                         alt="" />
                                    $@track.Price
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Single Post End-->
                }
            }
            else
            {
                <h3 style="text-align:center; width:100%; color:white; font-family: sans-serif; font-size:26px; font-weight:600; height:50vh">
                    Nothing Here ...
                    <img style="transform:translateY(8px); height:36px;" src="/assets/images/icons/search.svg">
                </h3>
            }
        </div>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Feed", new {page = page,}),
        new X.PagedList.Web.Common.PagedListRenderOptions
        {
        Display = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded,
        DisplayPageCountAndCurrentLocation = false,
        MaximumPageNumbersToDisplay = 5 })
    </div>

    <!--Player Start-->
    <div id="aplayer"></div>
    <!--Player End-->
</main>

<!---->
<script src="~/assets/javascript/feed.js" asp-append-version="true"></script>

