@model MessengerVM
@{
    ViewData["Title"] = "Messenger";


    string tempPage = TempData["Page"]?.ToString() != null ? TempData["Page"]?.ToString()  : "40";
    int chatPage = int.Parse(tempPage);
}

<main id="messangerMain">
    <div class="box">
        <section class="left">
            <div class="topLeft">
                <h1>Messengers</h1>
            </div>
            <div class="searchUsers">
                <input class="inputField searchMessangers" type="text" placeholder="Search..." />
                <img class="" src="~/assets/images/icons/search.svg" alt="" />
            </div>
            <div class="messangers">
                @await Html.PartialAsync("_MessengerPartial",Model)
            </div>
        </section>
        <section class="right">
            <div class="topRight">
                <img class="people"
                     src="~/assets/images/icons/sharingiconImage24px.svg"
                     alt="" />
                <h1>@(Model.otherUserName != null ? Model.otherUserName.DisplayName : "Message box")</h1>
            </div>
            <div class="bottom">
                <div style="overflow:auto !important;" class="meaasagingBox" userName="@(Model.userName!=null ? Model.userName.DisplayName : "")" data-chatid="@((Model.ChatId).ToString())" data-userId="@(Model.userName != null ? Model.userName.Id : "")" pfp="@(Model.userName != null ? Model.userName.ProfilePicture : "")">

                    @await Html.PartialAsync("_MessagingBoxPartial",Model)


                </div>
                <form class="send">
                    <input class="inputField messageInput" type="text" placeholder="Message" />
                    <button type="submit" class="sendBtn" src="~/assets/images/icons/search.svg" alt="">send</button>
                </form>
            </div>
        </section>
    </div>
</main>

<!---->
<script src="~/assets/javascript/messenger.js" asp-append-version="true"></script>