@model MessengerVM
@{
    ViewData["Title"] = "Messenger";
    Chat? showingChat = null;
    AppUser? userName = null;
    AppUser? otherUserName = null;
    if (Model.Chats != null)
    {
        showingChat = Model.Chats.FirstOrDefault(c => c.Id == Model.ChatId);
        if (showingChat != null)
        {
            userName = Model.CurrentUser.Id == showingChat.User2Id ? showingChat.User2 : showingChat.User1;
            otherUserName = Model.CurrentUser.Id == showingChat.User1Id ? showingChat.User2 : showingChat.User1;
        }
    }


}

<main id="messangerMain">
    <div class="box">
        <section class="left">
            <div class="topLeft">
                <h1>Messengers</h1>
            </div>
            <div class="searchUsers">
                <input class="inputField searchMessangers" type="text" placeholder="Search..." />
                <img class="" src="~/assets/images/icons/search.svg" alt="" />
            </div>
            <div class="messangers">
                @await Html.PartialAsync("_MessengerPartial",Model)
            </div>
        </section>
        <section class="right">
            <div class="topRight">
                <img class="people"
                     src="~/assets/images/icons/sharingiconImage24px.svg"
                     alt="" />
                <h1>@(otherUserName != null ? otherUserName.DisplayName : "Message box")</h1>
            </div>
            <div class="bottom">
                <div class="meaasagingBox" userName="@(userName!=null ? userName.DisplayName : "")" data-chatid="@((Model.ChatId).ToString())" data-userId="@(userName != null ? userName.Id : "")" pfp="@(userName != null ? userName.ProfilePicture : "")">

                    @if (showingChat != null && showingChat.ChatLogs != null)
                    {
                        foreach (ChatLog chatlog in showingChat.ChatLogs)
                        {

                            if (Model.CurrentUser.Id != chatlog.Messager.Id)
                            {
                                <!--Single Message Start-->
                                <div class="singleMessage interlocutor">
                                    <img class="pfpMsg" src="~/assets/images/pfp/@chatlog.Messager.ProfilePicture" />
                                    <div class="interlocutorMessages">
                                        <p class="theMessage">
                                            @chatlog.Message
                                        </p>

                                    </div>
                                </div>
                                <!--Single Message End-->
                            }
                            else
                            {

                                <!--Single Message Start-->
                                <div class="singleMessage me">
                                    <p class="theMessage">@chatlog.Message</p>
                                </div>
                                <!--Single Message End-->
                            }

                        }
                    }


                </div>
                <form class="send">
                    <input class="inputField messageInput" type="text" placeholder="Message" />
                    <button type="submit" class="sendBtn" src="~/assets/images/icons/search.svg" alt="">send</button>
                </form>
            </div>
        </section>
    </div>
</main>

<!---->
<script src="~/assets/javascript/messenger.js" asp-append-version="true"></script>