@model HomeVM
@{
    ViewData["Title"] = "Home";
}
<!--Main Start-->
<main id="homeMain">
    <!--Swiper Start-->
    <section class="swiper topSlider">
        <!-- Additional required wrapper -->
        <div class="gradient"></div>
        <div class="swiper-wrapper">
            <!-- Slides -->
            @foreach (Slider slider in Model.Sliders)
            {
                <div class="swiper-slide">
                    <div class="gradient"></div>

                    <a asp-controller="@(slider.Link.Split("/")[0])" asp-action="@(slider.Link.Split("/")[1])" class="slide1 slidebtn">@slider.BtnText</a>
                    <div style="height:max-content;" class="slide slidetext">
                        <p style="height:max-content; line-height:110%;">@slider.Text</p>
                    </div>

                    <img src="~/assets/images/slider/@(slider.Image)" alt="" />
                </div>
            }

            
        </div>
    </section>
    <!--Swiper End-->
    <!--Trending Start-->
    <section id="trending">
        <div class="trendingContainer">
            <div class="topText">
                <h3>Trending Tracks</h3>
                <a asp-controller="Track" asp-action="Index"><p>See more</p></a>
            </div>
            <div class="box">
                @if (Model.TrendingTracks != null)
                {
                    @foreach (Track track in Model.TrendingTracks)
                    {
                        AppUser? user = Model.Users?.FirstOrDefault(u => u.Id == track.UserId);
                        <!--Single Card Start-->
                        <div class="myCard">
                            <img name="@track.Title"
                                 artist="@user?.DisplayName"
                                 track="assets/audio/tagged/@track.Tagged"
                                 cover="assets/images/@(user?.ProfilePicture == track.Cover ? $"pfp/{track.Cover}": $"covers/{track.Cover}")"
                                 class="play trackPlayBtn"
                                 src="~/assets/images/icons/play.svg"
                                 alt=""
                                 trackId="@track.Id" />
                            <img class="pause" src="~/assets/images/icons/pause.svg" alt="" />
                            <a asp-controller="Track" asp-action="Detail" asp-route-Id="@track.Id">
                                <img class="cover"
                                     src="~/assets/images/@(user?.ProfilePicture == track.Cover ? $"pfp/{track.Cover}": $"covers/{track.Cover}")"
                                     alt="" />
                            </a>
                            <div class="bottomText">
                                <div class="top">
                                    <p class="price">@(track.Price)$</p>
                                    <p class="tempo">
                                        <img src="~/assets/images/icons/dot.svg" alt="" /> @(track.Bpm != null ? $"{track.Bpm} BPM" : "")
                                    </p>
                                </div>
                                <a asp-controller="Track" asp-action="Detail" asp-route-Id="@track.Id"><h6 class="title">@track.Title</h6></a>
                                <a asp-controller="Artist" asp-action="Detail" asp-route-Id="@user.Id"><p class="artist">@user?.DisplayName</p></a>
                            </div>
                        </div>
                        <!--Single Card End-->
                    }

                }
            </div>
        </div>
        <!--Player Start-->
        <div id="aplayer"></div>
        <!--Player End-->
    </section>
    <!--Trending End-->
    <!--About Us Start-->
    <section id="aboutUs">
        <div class="aboutUsContainer">
            <div class="left">
                <h4>@Model.Settings.FirstOrDefault(s=>s.Key == "AboutTitle").Value</h4>
                <!--Single Line Start-->
                <div class="line">
                    <img src="~/assets/images/icons/check-circle.svg" alt="" />
                    <div class="text">
                        @Html.Raw(Model.Settings.FirstOrDefault(s=>s.Key == "AboutLine1").Value)
                    </div>
                </div>
                <!--Single Line End-->
                <!--Single Line Start-->
                <div class="line">
                    <img src="~/assets/images/icons/check-circle.svg" alt="" />
                    <div class="text">
                        @Html.Raw(Model.Settings.FirstOrDefault(s=>s.Key == "AboutLine2").Value)
                    </div>
                </div>
                <!--Single Line End-->
                <!--Single Line Start-->
                <div class="line">
                    <img src="~/assets/images/icons/check-circle.svg" alt="" />
                    <div class="text">
                        @Html.Raw(Model.Settings.FirstOrDefault(s=>s.Key == "AboutLine3").Value)
                    </div>
                </div>
                <!--Single Line End-->
                <!--Single Line Start-->
                <div class="line">
                    <img src="~/assets/images/icons/check-circle.svg" alt="" />
                    <div class="text">
                        @Html.Raw(Model.Settings.FirstOrDefault(s=>s.Key == "AboutLine4").Value)
                    </div>
                </div>
                <!--Single Line End-->
                <a asp-controller="Track" asp-action="Index" class="getStarted">
                    <img src="~/assets/images/icons/music.svg" alt="" /> Get
                    Started
                </a>
            </div>
            <img class="right"
                 src="~/assets/images/setting/@(Model.Settings.FirstOrDefault(s=>s.Key == "AboutImg").Value)"
                 alt="" />
        </div>
    </section>
    <!--About Us End-->
    <!--Popular Genres Start-->
    <section id="popularGenres">
        <div class="genresContainer">
            <div class="topText">
                <h3>Popular Genres</h3>
                <a asp-controller="Track" asp-action="Index"><p>See more</p></a>
            </div>
            <div class="box">
               @foreach (Genre genre in Model.TrendingGenres)
                {
                    <!--Single Card Start-->
                    <div class="myGenreCard">
                        <h3 class="genreName">@genre.Name</h3>
                        <a asp-controller="Track" asp-action="Index" asp-route-genres="@genre.Id">
                            <img class="genreImage"
                                 src="~/assets/images/genres/@genre.Image"
                                 alt="" />
                        </a>

                        <a asp-controller="Track" asp-action="Index" asp-route-genres="@genre.Id"><h6 class="title">@genre.Name</h6></a>
                    </div>
                    <!--Single Card End-->
                }
            </div>
        </div>
    </section>
    <!--Popular Genres End-->
    <!--SwiperBottom Start-->
    <section class="swiper bottomSlider">
        <!-- Additional required wrapper -->
        <div class="gradient"></div>
        <div class="swiper-wrapper">
            <!-- Slides -->
          @foreach (ReviewSlider reviewSlider in Model.ReviewSliders)
            {
                <div class="swiper-slide">
                    <div class="gradient"></div>

                    <img class="slide1 mainImg"
                         src="~/assets/images/WhyGorira/@(reviewSlider.Image)"/>

                    <div class="slide1 slidetextRight">
                        @Html.Raw(reviewSlider.Text)
                    </div>

                    <img class="bckg" src="~/assets/images/gif/@(reviewSlider.BackgroundImage)" alt="" />
                </div>
            }
           
        </div>
    </section>
    <!--SwiperBottom End-->
</main>
<!--Main End-->

<!--Script Custom Music on play-->
<script src="~/assets/javascript/play.js" asp-append-version="true"></script>