@model HomeVM
@{
    ViewData["Title"] = "Home";
}
<!--Main Start-->
<main id="homeMain">
    <!--Swiper Start-->
    <section class="swiper topSlider">
        <!-- Additional required wrapper -->
        <div class="gradient"></div>
        <div class="swiper-wrapper">
            <!-- Slides -->
            @foreach (Slider slider in Model.Sliders)
            {
                <div class="swiper-slide">
                    <div class="gradient"></div>

                    <a asp-controller="Track" asp-action="Index" class="slide1 slidebtn">@slider.BtnText</a>
                    <div class="slide slidetext">
                        <p>@slider.Text</p>
                    </div>

                    <img src="~/assets/images/slider/@(slider.Image)" alt="" />
                </div>
            }

            
        </div>
    </section>
    <!--Swiper End-->
    <!--Trending Start-->
    <section id="trending">
        <div class="trendingContainer">
            <div class="topText">
                <h3>Trending Tracks</h3>
                <a asp-controller="Track" asp-action="Index"><p>See more</p></a>
            </div>
            <div class="box">
                <!--Single Card Start-->
                <div class="myCard">
                    <img name="Young Thug Type Beat 2023"
                         artist="Wheezy"
                         track="assets/audio/trendingInstrumentals/Young Thug - Check (Instrumental).mp3"
                         cover="assets/images/covers/youngThug2.jpg"
                         class="play"
                         src="~/assets/images/icons/play.svg"
                         alt="" />
                    <img class="pause" src="~/assets/images/icons/pause.svg" alt="" />
                    <a href="">
                        <img class="cover"
                             src="~/assets/images/covers/youngThug2.jpg"
                             alt="" />
                    </a>
                    <div class="bottomText">
                        <div class="top">
                            <p class="price">23.99$</p>
                            <p class="tempo">
                                <img src="~/assets/images/icons/dot.svg" alt="" /> 148 BPM
                            </p>
                        </div>
                        <a href=""><h6 class="title">Young Thug Type Beat 2023</h6></a>
                        <a href=""><p class="artist">Wheezy</p></a>
                    </div>
                </div>
                <!--Single Card End-->
                <!--Single Card Start-->
                <div class="myCard">
                    <img name="No Heart Instrumental (21 Type Beat 2023)"
                         artist="Metro Boomin"
                         track="assets/audio/trendingInstrumentals/21 Savage - No Heart Instrumental.mp3"
                         cover="assets/images/covers/21.jpg"
                         class="play"
                         src="~/assets/images/icons/play.svg"
                         alt="" />
                    <img class="pause" src="~/assets/images/icons/pause.svg" alt="" />
                    <a href="">
                        <img class="cover" src="~/assets/images/covers/21.jpg" alt="" />
                    </a>
                    <div class="bottomText">
                        <div class="top">
                            <p class="price">30.99$</p>
                            <p class="tempo">
                                <img src="~/assets/images/icons/dot.svg" alt="" /> 120 BPM
                            </p>
                        </div>
                        <a href="">
                            <h6 class="title">
                                No Heart Instrumental (21 Type Beat 2023)
                            </h6>
                        </a>
                        <a href=""><p class="artist">Metro Boomin</p></a>
                    </div>
                </div>
                <!--Single Card End-->
                <!--Single Card Start-->
                <div class="myCard">
                    <img name="Gunna Type Beat 2023"
                         artist="Wheezy"
                         track="assets/audio/trendingInstrumentals/Young Thug Hot Instrumental Ft. Gunna BEST QUALITY.mp3"
                         cover="assets/images/covers/gunna.png"
                         class="play"
                         src="~/assets/images/icons/play.svg"
                         alt="" />
                    <img class="pause" src="~/assets/images/icons/pause.svg" alt="" />
                    <a href="">
                        <img class="cover"
                             src="~/assets/images/covers/gunna.png"
                             alt="" />
                    </a>
                    <div class="bottomText">
                        <div class="top">
                            <p class="price">20.99$</p>
                            <p class="tempo">
                                <img src="~/assets/images/icons/dot.svg" alt="" /> 160 BPM
                            </p>
                        </div>
                        <a href=""><h6 class="title">Gunna Type Beat 2023</h6></a>
                        <a href=""><p class="artist">Wheezy</p></a>
                    </div>
                </div>
                <!--Single Card End-->
                <!--Single Card Start-->
                <div class="myCard">
                    <img name="Travis Scott Type Beat 2023"
                         artist="Metro Boomin"
                         track="assets/audio/trendingInstrumentals/Travis Scott - Goosebumps (Official Instrumental).mp3"
                         cover="assets/images/covers/travisScott.jpg"
                         class="play"
                         src="~/assets/images/icons/play.svg"
                         alt="" />
                    <img class="pause" src="~/assets/images/icons/pause.svg" alt="" />
                    <a href="">
                        <img class="cover"
                             src="~/assets/images/covers/travisScott.jpg"
                             alt="" />
                    </a>
                    <div class="bottomText">
                        <div class="top">
                            <p class="price">25$</p>
                            <p class="tempo">
                                <img src="~/assets/images/icons/dot.svg" alt="" /> 148 BPM
                            </p>
                        </div>
                        <a href=""><h6 class="title">Travis Scott Type Beat 2023</h6></a>
                        <a href=""><p class="artist">Metro Boomin</p></a>
                    </div>
                </div>
                <!--Single Card End-->
            </div>
        </div>
        <!--Player Start-->
        <div id="aplayer"></div>
        <!--Player End-->
    </section>
    <!--Trending End-->
    <!--About Us Start-->
    <section id="aboutUs">
        <div class="aboutUsContainer">
            <div class="left">
                <h4>@Model.Settings.FirstOrDefault(s=>s.Key == "AboutTitle").Value</h4>
                <!--Single Line Start-->
                <div class="line">
                    <img src="~/assets/images/icons/check-circle.svg" alt="" />
                    <div class="text">
                        @Html.Raw(Model.Settings.FirstOrDefault(s=>s.Key == "AboutLine1").Value)
                    </div>
                </div>
                <!--Single Line End-->
                <!--Single Line Start-->
                <div class="line">
                    <img src="~/assets/images/icons/check-circle.svg" alt="" />
                    <div class="text">
                        @Html.Raw(Model.Settings.FirstOrDefault(s=>s.Key == "AboutLine2").Value)
                    </div>
                </div>
                <!--Single Line End-->
                <!--Single Line Start-->
                <div class="line">
                    <img src="~/assets/images/icons/check-circle.svg" alt="" />
                    <div class="text">
                        @Html.Raw(Model.Settings.FirstOrDefault(s=>s.Key == "AboutLine3").Value)
                    </div>
                </div>
                <!--Single Line End-->
                <!--Single Line Start-->
                <div class="line">
                    <img src="~/assets/images/icons/check-circle.svg" alt="" />
                    <div class="text">
                        @Html.Raw(Model.Settings.FirstOrDefault(s=>s.Key == "AboutLine4").Value)
                    </div>
                </div>
                <!--Single Line End-->
                <a asp-controller="Track" asp-action="Index" class="getStarted">
                    <img src="~/assets/images/icons/music.svg" alt="" /> Get
                    Started
                </a>
            </div>
            <img class="right"
                 src="~/assets/images/setting/@(Model.Settings.FirstOrDefault(s=>s.Key == "AboutImg").Value)"
                 alt="" />
        </div>
    </section>
    <!--About Us End-->
    <!--Popular Genres Start-->
    <section id="popularGenres">
        <div class="genresContainer">
            <div class="topText">
                <h3>Popular Genres</h3>
                <a href=""><p>See more</p></a>
            </div>
            <div class="box">
                <!--Single Card Start-->
                <div class="myGenreCard">
                    <h3 class="genreName">Hip-Hop</h3>
                    <a href="">
                        <img class="genreImage"
                             src="~/assets/images/genres/hip-hop.jpg"
                             alt="" />
                    </a>

                    <a href=""><h6 class="title">Hip-Hop</h6></a>
                </div>
                <!--Single Card End-->
                <!--Single Card Start-->
                <div class="myGenreCard">
                    <h3 class="genreName">Pop</h3>
                    <a href="">
                        <img class="genreImage"
                             src="~/assets/images/genres/pop.jpg"
                             alt="" />
                    </a>

                    <a href=""><h6 class="title">Pop</h6></a>
                </div>
                <!--Single Card End-->
                <!--Single Card Start-->
                <div class="myGenreCard">
                    <h3 class="genreName">R&B</h3>
                    <a href="">
                        <img class="genreImage"
                             src="~/assets/images/genres/r&b.jpg"
                             alt="" />
                    </a>

                    <a href=""><h6 class="title">R&B</h6></a>
                </div>
                <!--Single Card End-->
                <!--Single Card Start-->
                <div class="myGenreCard">
                    <h3 class="genreName">Rock</h3>
                    <a href="">
                        <img class="genreImage"
                             src="~/assets/images/genres/rock.jpg"
                             alt="" />
                    </a>

                    <a href=""><h6 class="title">Rock</h6></a>
                </div>
                <!--Single Card End-->
            </div>
        </div>
    </section>
    <!--Popular Genres End-->
    <!--SwiperBottom Start-->
    <section class="swiper bottomSlider">
        <!-- Additional required wrapper -->
        <div class="gradient"></div>
        <div class="swiper-wrapper">
            <!-- Slides -->
          @foreach (ReviewSlider reviewSlider in Model.ReviewSliders)
            {
                <div class="swiper-slide">
                    <div class="gradient"></div>

                    <img class="slide1 mainImg"
                         src="~/assets/images/WhyGorira/@(reviewSlider.Image)"/>

                    <div class="slide1 slidetextRight">
                        @Html.Raw(reviewSlider.Text)
                    </div>

                    <img class="bckg" src="~/assets/images/gif/@(reviewSlider.BackgroundImage)" alt="" />
                </div>
            }
           
        </div>
    </section>
    <!--SwiperBottom End-->
</main>
<!--Main End-->

<!--Script Custom Music on play-->
<script src="~/assets/javascript/play.js" asp-append-version="true"></script>